<nav>
  <div class = "site - title">
    <a href = "/"><h1>Blog Ninjas</h1></a>
    <p>Net ninja site</p>
  </div>
  <ul>
    <li><a href ="/">blog</a></li>
    <li><a href ="/about">about</a></li>
    <li><a href ="/blogs/create">create blog</a></li>
  </ul>
</nav>