<html lang="en">
  <%-include('./partials/head.ejs')%>
<body>
  <%-include('./partials/nav.ejs')%>

  <div class ="about content">
    <h1>About us</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur facere quibusdam ut dolor praesentium quos minima deleniti minus! Ex quae id non et inventore iure dignissimos possimus iste accusamus vero.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vero ducimus laborum numquam, reiciendis dolorem quae voluptas amet aliquid, repellat quasi laboriosam rerum, tenetur blanditiis illum reprehenderit architecto voluptates molestias?</p>
  </div>

  <%-include('./partials/foot.ejs')%>

</body>
</html>